{
  "presets": ["@babel/env"],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    ["@babel/plugin-syntax-pipeline-operator", { "proposal": "minimal" } ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}